
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.main2{
    width: 1400px;
    height: 750px;
    background-color: #F3F3CC;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contenedor__home{
    margin: auto;
    text-align: center
}

.menu__usuarios{
    display: flex;
    gap: 15px;
}